@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Loan Management System</h1>
    <p class="lead">Banking now made easy.</p>
    <p><a href="@Url.Action("IndexLogin", "Login")" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            All your needs in just simple steps.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Apply for loan now to get quick loan approval.</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Personal Informations</h2>
        <p>You can easily update your informations.</p>
    </div>
</div>