
@{
    ViewBag.Title = "IndexLogin";
}

<h2>Login</h2>

<div>
    <a href="@Url.Action("IndexEmployeeLogin", "EmployeeLogin")" class="btn btn-primary">Employee Login</a>

</div>
<div>
    <a href="@Url.Action("IndexLogin", "Cust_Login_Register")" class="btn btn-primary">Customer Login</a>

</div>